<!DOCTYPE html>
<html lang="en">
    <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js" ></script>
        <style>
            nav {
                background-color: black;
                color: white;
                display: flex;
                justify-content: space-between;
                padding: 30px 60px;
            }

            nav ul {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }

            nav li {    
                list-style: none;    
            }

            nav li a {
                color: white;
                text-decoration: none;
                font-weight: bold;
                padding: 5px 8px;
            }

            nav li a:hover {
                color: yellow;
                text-decoration: none;
            }

            li.parsley-required, .parsley-minlength, .parsley-type, .parsley-equalto {
                color: red;
            }
        </style>
    </head>
    <body>
        <nav>
            <h4>NodeJs practical Task</h4>
            <ul>
                <li><a href="/dashboard/<%= ResData._id %>"> Dashboard</a></li>
                <li><a href="/changepassword/<%= ResData._id %>">Change Password</a></li>
                <li><a href="/logoutUser/<%= ResData._id %>">Logout</a></li>
                <!-- <li><a href="/register">Register</a></li> -->
            </ul>
        </nav>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <% if(locals.ResData && ResData.key == '1'){%>
                    <div class="error">
                        <h4 class="alert alert-danger mt-4"> <%= ResData.message%>
                            <a class="btn btn-danger" href="/changepassword/<%= ResData._id %>" style="display: inline-flex;float: right;">ok</a>
                        </h4>
                    </div><br>
                <% } %>
                <span class="anchor" id="formComplex"></span>
                <form action="/v1/user/change_password" method="POST"  data-parsley-validate>
                <!-- form complex example -->
                    <div class="card card-outline-secondary mt-4">
                        <div class="card-header">
                            <h3 class="mb-0">Change Password</h3>
                            </div>
                            <div class="card-body">
                                <div class="row mt-4">
                                    <div class="col-sm-4 pb-3">
                                        <input type="hidden" name="user_id" value="<%= ResData._id %>" />
                                        <label for="exampleFirst">Current Password</label> 
                                        <input class="form-control" name="old_password" type="password" placeholder="Enter current password" 
                                        required
                                        data-parsley-minlength="5"
                                        data-parsley-minlength-message="It should have 5 characters or more"
                                        data-parsley-required-message="Please enter password"/>
                                        <% if(locals.errors && locals.errors.old_password){%>
                                        <div class="error">
                                            <%= errors.old_password[0]%>
                                        </div><br>
                                        <% }%>
                                    </div>
                                    <div class="col-sm-4 pb-3">
                                        <label for="exampleFirst">New Password</label> 
                                        <input class="form-control" name="password" type="password" placeholder="Enter new password" id="pass1"
                                        required
                                        data-parsley-minlength="5"
                                        data-parsley-minlength-message="It should have 5 characters or more"
                                        data-parsley-required-message="Please enter new password"/>
                                        <% if(locals.errors && locals.errors.password){%>
                                        <div class="error">
                                            <%= errors.password[0]%>
                                        </div><br>
                                        <% }%>
                                    </div>
                                    <div class="col-sm-4 pb-3">
                                        <label for="exampleLast">Confirm Password</label> 
                                        <input class="form-control" name="new_password" type="password" placeholder="Enter confirm password" 
                                        required
                                        data-parsley-equalto="#pass1"
                                        data-parsley-required-message="Please enter confirm password"
                                        data-parsley-equalto-message="Password and Confirm Password must be same"/>
                                        <% if(locals.errors && locals.errors.new_password){%>
                                        <div class="error">
                                            <%= errors.new_password[0]%>
                                        </div><br>
                                        <% }%>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary w-20" style="margin-left: 20px;">Submit</button>
                            </div><!--/card-->
                        </div>
                    </div>
                </form>
          </div>
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous">
        </script>
    </body>
</html>